node_modules
build
npm-debug.log
.nyc
.env
.DS_Store
agent.db
agent.log

notes.txt
pinata.json

package-lock.json


# Data directories
data/.temp/*
data/.memory/*
!data/.temp/.gitkeep
!data/.memory/.gitkeep
data/

TEMP/